@font-face {
    font-family: '161 Vergilius';
    src: url('../fonts/161_vergilius-regular.ttf') format('truetype');
}

body {
    background: rgb(208, 223, 193);
    color: rgb(81, 87, 81);
    font-family: 'Alegreya';
}

a {
    color: rgb(80, 57, 38);
    text-decoration: none;
}

b {
    color: #43641d;
}

blockquote {
    background-color: #83a7622f;
    width: 100%;
    margin: 15px 0;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Macondo Swash Caps';
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(230, 230, 230);
    text-shadow: #64776596 1px 0 5px;
    margin-bottom: -5px;
    background-color: #647765c5;
    border-radius: 50px;
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid #000000b2;
}

h2 {
    font-family: "Alegreya", serif;
    font-weight: normal;
    text-align: center;
}

.repolho-img {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart-img {
    width: 50px;
    display: inline-block;
    /* Melhor que inline para controlar margens */
    margin-left: 0;
    /* Garante que a imagem encoste na esquerda */
    margin-right: 10px;
    /* Espaço entre a imagem e o título */
    vertical-align: middle;
}

.button {
    background-color: rgb(124, 82, 58);
    border: none;
    padding: 5px 10px;
    color: rgb(253, 255, 240);
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 1.0rem;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Alegreya';
    flex-wrap: nowrap;
}

.descricao {
    line-height: 1.3rem;
}

.sign {
    width: 50px;
    margin: 20px auto;
}

.circulo {
    width: 50px;
    height: 50px;
    border: 1px solid #647765;
    background-color: #83a762;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado {
    width: 20px;
    height: 20px;
    border: 2px solid #647765;
    background: rgb(213, 223, 193);
}

#main {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: rgb(247, 240, 227);
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #6477659a;
    max-width: 1200px;
}

#footer,
#header {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    max-width: 1200px;
}

.menu {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.menu a {
    background-color: #647765;
    padding: 5px 8px;
    color: #fff8e1;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.disclaimer {
    padding: 0 15px;
    background-color: rgb(247, 240, 227);
    box-sizing: border-box;
    border: 1px solid #6477659a;
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    image-rendering: pixelated;
    margin-bottom: 20px;
}

.dis-title {
    background-color: #647765;
    color: bisque;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Alegreya';
    text-align: left;
}

.info {
    background-color: #6477653a;
    color: rgb(42, 75, 47);
    padding: 1px 15px;
    border-radius: 5px;
    font-family: 'Alegreya';
    text-align: center;
    margin-bottom: 15px;
}

.botoes-carrinho {
    display: flex;
    gap: 10px;
    /* Espaço entre os botões */
    margin-top: 10px;
}

.botoes-carrinho button {
    background-color: #83a762;
    border-radius: 3px;
    border: none;
    color: #fff8e1;
    padding: 5px 8px;
}

.valor {
    font-size: 1.5rem;
    margin: 0;
    background-color: #3e3b2363;
    padding: 0 8px;
    border-radius: 3px;
    color: #4b442f;
    width: 100px;
    display: flex;
}

.valorxquantidade form {
    display: flex;
    gap: 15px;
    min-height: 44px;
}

.input-qtd {
    width: 60px;
    height: 44px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #3e2723;
    border-radius: 4px;
    background-color: #fff8e1;
    box-sizing: border-box;
}

.form-text {
    display: block;
    margin-bottom: 15px;
    width: 50%;
    padding: 8px;
    border: none;
    background: #64776527;
    border-radius: 3px;
    border: 1px solid #6477659a;
}

.summary-title {
    display: inline;
    vertical-align: top;
    margin: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #6faa3f;
}

.summary-txt {
    margin: -15px 0 0 65px;
}

.pay-form input {
    width: 100%;
    box-sizing: border-box;
    color: #3a3a3ace;
}

.form-label {
    background-color: #83a7622f;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

.input-box {
    margin-bottom: 25px
}

.pay-form .readonly input {
    background-color: #c5c1b2;
    color: #3a3a3ace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e8e6d9 inset !important;
    -webkit-text-fill-color: #3a3a3ace !important;
}

input:focus {
    outline: none;
    border: 1px solid #4a7c59;
}

.cab {
    bottom: 20px;
    padding-left: 20px;
    width: 80%;
    z-index: -1000;
    -webkit-user-drag: none;
    /* Safari/Chrome */
    user-select: none;
    pointer-events: none;
}

@media (min-width: 600px) {

    #main,
    #footer,
    #header,
    .menu {
        width: 40%;
        min-width: 500px;
    }


    .repolho-img {
        float: left;
        width: 150px;
        margin-right: 15px;
    }

    .button {
        width: 200px;
        height: 44px;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 20px;
        max-width: 100%;
        margin: 0 auto;
    }

    .input-box-grid {
        display: flex;
        flex-direction: column;
    }

    .cab {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 300px;
        z-index: -1000;
        -webkit-user-drag: none;
        /* Safari/Chrome */
        user-select: none;
        pointer-events: none;
    }

    .valorxquantidade form {
        min-height: 44px;
    }

    .valor {
        font-size: 1.7rem;
        height: 44px;
    }

}