<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %} Cabbage Corp {% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Macondo+Swash+Caps&display=swap"
        rel="stylesheet">
</head>

<body>
    <header id="header">
        <h1>Cabbage Corp</h1>
        <h2>Os melhores repolhos de Omashu e Ba Sing Se!</h2>
        <nav class="menu">
            <a href="/product">Página inicial</a>
        </nav>
    </header>
    <main id="main">
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{category}}">
            <p>
                {% if category == 'info' %}
                ⚠️
                {% elif category == 'error' %}
                ❌
                {% endif %}
                {{message}}
            </p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <footer id="footer">
        <div class="sign">
            <div class="circulo">
                <div class="quadrado"></div>
            </div>
        </div>
        <div class="dis-title">DISCLAIMER</div>
        <div class="disclaimer">
            <p>
                Este é um projeto de demonstração e o produto exibido é fictício. O objetivo é apresentar a
                implementação de um Checkout Transparente (uma página de pagamento) integrado a um gateway de pagamento
                real. Sinta-se à
                vontade para clicar em <span class="minibutton">Compre agora</span> e simular o fluxo completo.
                <br><br>
                <span class="minibutton-2">Dica</span>: Para testar sem custos, utilize dados fictícios de cartão de
                crédito, cadastro (como CPFs)
                e endereços (como os gerados pelo
                site <a href="https://www.4devs.com.br/" target="_blank">4Devs</a>).
            </p>
        </div>
        <small>Crédito imagem <a href="https://pt.vecteezy.com/"> PNGs por Vecteezy</a></small>
    </footer>
    <img class="cab" src="{{url_for('static', filename='img/gen_image.png')}}">

</body>

</html>