{% extends "base.html" %}
{% block title %} {{super()}} - Pagamento {% endblock %}

{% block content %}
<blockquote>
    <img class="cart-img" src="{{url_for('static', filename='img/shopping-cart.png')}}">
    <h2 class="summary-title">Resumo do pedido</h2>
    <div class="summary-txt">Você está comprando <b>{{session['quantidade']}}</b>
        {% if session['quantidade']|int > 1 %}
        <b>repolhos</b>
        {% else %}
        <b>repolho</b>
        {% endif %}
        por <b>R$ {{ session['valor_total'] }}</b><br>
        <div class="botoes-carrinho">
            <form action="/clear-cart" method="POST">
                <button>Limpar carrinho</button>
            </form>

            <form action="/product" method="GET">
                <button>Editar carrinho</button>
            </form>
        </div>
    </div>
</blockquote>

<form method="POST" action="/pay" class="pay-form">
    <h3 class="form-label">Dados pessoais</h3>
    <div class="input-box">
        <label for="nome">Nome completo</label>
        <input type="text" id="nome" name="nome" class="form-text">
    </div>

    <div class="input-box">
        <label for="email">Endereço de e-mail</label>
        <input type="text" id="email" name="email" class="form-text">
    </div>

    <div class="form-grid">
        <div class="input-box-grid">
            <label for="telefone">Celular ou Telefone</label>
            <input type="text" id="telefone" name="telefone" class="form-text">
        </div>

        <div class="input-box-grid">
            <label for="id">CPF ou CNPJ</label>
            <input type="text" id="id" name="id" class="form-text">
        </div>

        <div class="input-box-grid">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" value="" maxlength="9" onblur="pesquisacep(this.value);"
                class="form-text">
        </div>

        <div class="input-box-grid">
            <label for="numero">Número de residencia</label>
            <input type="text" id="numero" name="numero" class="form-text">
        </div>

        <div class="input-box-grid readonly">
            <label for="logradouro">Logradouro</label>
            <input type="text" id="logradouro" name="logradouro" class="form-text" readonly>
        </div>

        <div class="input-box-grid readonly">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" class="form-text" readonly>
        </div>

        <div class="input-box-grid readonly">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-text" readonly>
        </div>

        <div class="input-box-grid readonly">
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" class="form-text" readonly>
        </div>
    </div>

    <h3 class="form-label">Dados para pagamento</h3>
    <div class="payment-selector">
        <label class="radio-card selected" id="lbl-card">
            <input type="radio" name="payment_method" value="CREDIT_CARD" checked onclick="togglePayment('card')">
            <span>💳 Cartão</span>
        </label>
        
        <label class="radio-card" id="lbl-pix">
            <input type="radio" name="payment_method" value="PIX" onclick="togglePayment('pix')">
            <span>💠 Pix</span>
        </label>
        
        <label class="radio-card" id="lbl-boleto">
            <input type="radio" name="payment_method" value="BOLETO" onclick="togglePayment('boleto')">
            <span>📄 Boleto</span>
        </label>
    </div>

    <div id="payment-card" class="payment-section">
        
        <div class="input-box">
            <label>Nome impresso no cartão</label>
            <input type="text" id="cc_holder_name" class="form-text" placeholder="Como no cartão">
        </div>

        <div class="input-box">
            <label>Número do cartão</label>
            <input type="text" id="cc_number" class="form-text" placeholder="0000 0000 0000 0000">
        </div>

        <div class="form-grid">
            <div class="input-box-grid">
                <label>Validade (MM/AAAA)</label>
                <input type="text" id="cc_expiry" class="form-text" placeholder="12/2030">
            </div>

            <div class="input-box-grid">
                <label>CVV</label>
                <input type="text" id="cc_ccv" class="form-text" placeholder="123">
            </div>
        </div>
    </div>

    <div id="payment-pix" class="payment-section" style="display: none;">
        <div class="info-payment">
            <p><strong>APROVAÇÃO IMEDIATA!</strong></p>
            <p>Ao finalizar a compra, você receberá o QR Code para pagamento.</p>
        </div>
    </div>

    <div id="payment-boleto" class="payment-section" style="display: none;">
        <div class="info-payment">
            <p><strong>ATENÇÃO AO PRAZO:</strong></p>
            <p>O boleto pode levar até 3 dias úteis para compensar.</p>
        </div>
    </div>

    <div class="submit-area">
        <button type="submit" class="btn-finalizar">Confirmar pagamento</button>
    </div>
</form>
{% endblock %}