{% extends "base.html" %}
{% block title %} {{super()}} - Produto {% endblock %}

{% block content %}
<section class="produto">
    <img class="repolho-img" src="{{url_for('static', filename='img/32187501.png')}}">
    <p class="descricao"><b>Repolhos de primeira!</b><br>Garantidamente os mais... viajados do Reino da Terra.
        Cuidadosamente
        cultivados e transportados com muito esforço. Compre um e apoie um comerciante local!</p>
    <div class="valorxquantidade">
        <form action="/add-cart" method="post">
            <div class="valor">R$ 2,29</div>
            <input type="hidden" name="preco" value="2.29">
            <input type="number" id="quantidade" class="input-qtd" name="quantidade" min="1" max="1000"
                value="{{ session['quantidade'] if session['quantidade'] else 1 }}" step="1">
            <button type="submit" class="button">Compre agora</button>
        </form>
    </div>
</section>

{% endblock %}