{% extends "base.html" %}
{% block title %} {{super()}} - Produto {% endblock %}

{% block content %}
<section class="produto">
    <img class="repolho-img" src="{{url_for('static', filename='img/32187501.png')}}">
    <p class="descricao"><b>Repolhos de primeira!</b><br>Garantidamente os mais... viajados do Reino da Terra.
        Cuidadosamente
        cultivados e transportados com muito esforço. Compre um e apoie um comerciante local!</p>
    <div class="valorxquantidade">
        <form action="/add-cart" method="post">

            <p class="valor">R$ 2,29</p>
            <input type="hidden" name="preco" value="2.29">

            <input type="number" id="quantidade" class="input-qtd" name="quantidade" min="1" max="1000" value="1"
                step="1">
            <span class="minibutton-2">unidade</span>

            <button type="submit" class="button">Compre agora</button>
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{category}}"> <p>
        {% if category == 'success' %}
        FEEDBACK
        {% elif category == 'error' %}
        FEEDBACK ERROR
        {% endif %}
        {{message}}
        </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</section>

{% endblock %}